@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}

* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", serif;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

h4 {
  font-size: 17px;
  font-weight: 300;
}

h5 {
  font-size: 14px;
  font-weight: 500;
  color: #008766;
}

h6 {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  font-family: "Shrikhand", serif;
}

.explore__btn__box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.explore__btn__box .explore__btn {
  cursor: pointer;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 70%;
  border: none;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 400ms;
}
.explore__btn__box .explore__btn :hover {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  border-radius: 25px;
}
.explore__btn__box .explore__btn .explore__btn__text {
  display: flex;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.command__btn__box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.command__btn__box .command__btn {
  height: 50px;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  font-size: 16px;
  color: white;
}

.restaurants {
  gap: 20px;
  display: flex;
  flex-direction: column;
  padding: 30px 15px 80px 15px;
}
.restaurants .restaurant__flex {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.restaurants .restaurant__flex .restaurant__card {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 20px;
  background-color: white;
}
.restaurants .restaurant__flex .restaurant__card .news__card {
  display: flex;
  position: absolute;
  right: 40px;
  background-color: #99e2d0;
  width: 80px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  margin: 13px 0;
}
.restaurants .restaurant__flex .restaurant__card img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 180px;
  object-fit: cover;
  object-position: center;
}
.restaurants .restaurant__flex .restaurant__card .cardContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 13px 0 13px;
  color: black;
}

.hidden-checkbox {
  display: none;
}

.hidden-checkbox:checked + .checkbox-label::before {
  content: url("/assets/images/Icon/full-heart.svg");
}

.checkbox-label {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.checkbox-label::before {
  content: url("/assets/images/Icon/heart-empty2.svg");
  display: block;
  width: 100%;
  height: 100%;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
}
.loader__circle--1 {
  width: 7rem;
  height: 7rem;
  border-radius: 5rem;
  border: 0.4rem solid transparent;
  border-top-color: #9356dc;
  animation: spin 1s linear infinite;
  position: absolute;
  margin: auto;
}
.loader__circle--2 {
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  border: 0.4rem solid transparent;
  border-top-color: #ff79da;
  animation: spin 1.25s linear infinite;
  position: absolute;
  margin: auto;
}
.loader__circle--3 {
  width: 3rem;
  height: 3rem;
  border-radius: 5rem;
  border: 0.4rem solid transparent;
  border-top-color: #99e2d0;
  animation: spin 1.5s linear infinite;
  position: absolute;
  margin: auto;
}

.disappear {
  animation: end 1s forwards;
  animation-delay: 2s;
}

@keyframes end {
  to {
    opacity: 0;
    display: none;
  }
}
.navbar {
  padding: 15px 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .navbar__title {
  font-size: 30px;
}

.location {
  background: #EAEAEA;
}
.location .location__box {
  display: flex;
  width: 100%;
  height: 50px;
  box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.25);
  border-left: none;
  border-right: none;
  justify-content: center;
  align-items: center;
  gap: 17px;
}
.location .location__text {
  color: #353535;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.explore {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #F6F6F6;
  padding: 30px 0 40px;
}
.explore .explore__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.explore .explore__box h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.explore .explore__box h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  color: #353535;
}

.fonctionnement {
  padding: 30px 15px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}
.fonctionnement .fonc__card__box {
  width: 100%;
}
.fonctionnement .fonc__card__box .fonc__card {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}
.fonctionnement .fonc__card__box .fonc__card .fonc__round {
  position: relative;
  right: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9356DC;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 10px;
  z-index: 1;
}
.fonctionnement .fonc__card__box .fonc__card .fonc__card__clickable {
  position: relative;
  right: 30px;
  display: flex;
  gap: 25px;
  justify-content: center;
  background-color: #F6F6F6;
  width: 100%;
  border-radius: 25px;
  z-index: 0;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}
.fonctionnement .fonc__card__box .fonc__card .fonc__card__clickable h4 {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  height: 70px;
}

.footer__box {
  color: white;
  width: 100%;
  height: auto;
  background-color: #353535;
}
.footer__box .footer__content {
  padding: 22px 25px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.footer__box .footer__content .footer__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__box .footer__content .footer__list .footer__list__flex {
  display: flex;
  gap: 10px;
}

.menu__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu__content .menu__title__desc {
  border-bottom: 3px solid rgb(153, 226, 208);
  width: 50px;
}
.menu__content .menu__card__food {
  display: flex;
  padding: 12px;
  background-color: #FFFFFF;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 25px;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1);
}
.menu__content .menu__card__food .desc__flex {
  display: flex;
  flex-direction: column;
}

.navbar__menu {
  gap: 42px;
  padding: 14px 17px;
  justify-content: flex-start;
}
.navbar__menu .btn__goback {
  border: none;
  background: none;
  padding: 0;
}
.navbar__menu .navbar__title {
  font-weight: 700;
}

.menu__container {
  width: 100%;
}
.menu__container .img__restau {
  width: 100%;
  height: 275px;
  object-fit: cover;
}
.menu__container .overlay {
  width: 100%;
}
.menu__container .overlay .menu__card {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #F6F6F6;
  border-radius: 25px;
  padding: 15px 15px 0 15px;
}
.menu__container .overlay .menu__card .menu__restau {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__container .overlay .menu__card .menu__restau .nom__restau {
  font-size: 28px;
}
.menu__container .overlay .menu__card .menu__restau .hidden-checkbox {
  display: none;
}
.menu__container .overlay .menu__card .menu__restau .hidden-checkbox:checked + .checkbox-label::before {
  content: url("/assets/images/Icon/full-heart.svg");
}
.menu__container .overlay .menu__card .menu__restau .checkbox-label {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.menu__container .overlay .menu__card .menu__restau .checkbox-label::before {
  content: url("/assets/images/Icon/heart.svg");
  display: block;
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=main.css.map */