@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

a {
  text-decoration: none;
  color: #FFF;
}

ul {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

h2 {
  font-size: 18px;
  font-weight: 300;
}

h3 {
  font-size: 16px;
  font-weight: 500;
}

h4 {
  font-size: 18px;
  font-weight: 700;
}

h5 {
  font-size: 17px;
  font-weight: 300;
}

h6 {
  font-size: 18px;
  font-weight: 400;
  font-family: "Shrikhand", sans-serif;
}

.entrees-anim {
  opacity: 0;
  animation: leftTransi 2s ease forwards;
}

.plats-anim {
  opacity: 0;
  animation: leftTransi 2s ease forwards 1000ms;
}

.desserts-anim {
  opacity: 0;
  animation: leftTransi 2s ease forwards 1500ms;
}

@keyframes leftTransi {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.btn__goback {
  display: flex;
  border: none;
  background: none;
  padding: 0;
  position: absolute;
  left: 15px;
}

.btn__goback__desktop {
  display: none;
}

.btn__box__main {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(#ff79da, #9356dc);
  padding: 15px 30px;
}
.btn__box__text {
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #FFF;
}
.btn__box__text:hover {
  opacity: 0.7;
}

.heart {
  position: relative;
}
.heart i {
  font-size: 1.5rem;
}
.heart .fas {
  position: absolute;
  opacity: 0;
  background: #9356dc;
  background: linear-gradient(180deg, #9356dc 25%, #ff79da 100%);
  cursor: pointer;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.heart div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.heart:hover .fas,
.heart .heart:hover div {
  transition: opacity 0.8s linear;
  display: inline;
  opacity: 1;
}
.heart .fas,
.heart div {
  transition: opacity 0.8s linear;
  opacity: 0;
}

.restaurant__menu--cards-content {
  display: flex;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.restaurant__menu--cards-content-description {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
  width: 100%;
  overflow: hidden;
}
.restaurant__menu--cards-content-description h3 {
  margin: 0;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant__menu--cards-content-description p {
  margin: 0;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant__menu--cards-content-price {
  display: flex;
  padding: 15px;
  color: #353535;
}
.restaurant__menu--cards-content-price p {
  display: flex;
  align-items: end;
  margin: 0;
  font-size: 15px;
  font-weight: 700;
}
.restaurant__menu--cards-content-check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  height: 100%;
  border-left: 1px solid #99e2d0;
  background: #99e2d0;
  border-radius: 0 20px 20px 0;
  opacity: 0;
  transition: all 300ms;
}
.restaurant__menu--cards-content-check i {
  border: 1px solid;
  border-radius: 25px;
  padding: 3px;
  color: #99e2d0;
  background: white;
}
.restaurant__menu--cards-content label {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.restaurant__menu--cards-content input {
  display: none;
}
.restaurant__menu--cards-content input:checked + div {
  width: 60px;
  opacity: 1;
  cursor: pointer;
}

.navbar {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .navbar__title {
  margin-left: auto;
  margin-right: auto;
}

.menu {
  opacity: 1;
  width: 100%;
  overflow: hidden;
}
.menu .img__restau {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
.menu .overlay {
  width: 100%;
  position: absolute;
  top: 300px;
}
.menu .overlay .menu__card {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #f6f6f6;
  border-radius: 25px;
  padding: 25px 15px 40px 15px;
}
.menu .overlay .menu__card__restau {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu .overlay .menu__card__restau-nom {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  font-weight: 400;
}
.menu .overlay .menu__card .menu__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu .overlay .menu__card .menu__content .menu__title__desc {
  border-bottom: 3px solid rgb(153, 226, 208);
  width: 40px;
  height: 27px;
  font-size: 16px;
  font-weight: 300;
}
.menu .overlay .menu__card .btn__box {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1024px) {
  .menu .overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu .overlay .menu__card {
    padding: 50px 30px;
    width: 70%;
    flex-wrap: nowrap;
    align-items: center;
  }
  .menu .overlay .menu__card .menu__restau {
    justify-content: center;
    gap: 30px;
  }
  .menu .overlay .menu__card .menu__content {
    width: 70%;
  }
}
.footer__box {
  color: white;
  width: 100%;
  height: auto;
  background-color: #353535;
}
.footer__box .footer__content {
  padding: 22px 25px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.footer__box .footer__content .footer__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__box .footer__content .footer__list .footer__list__flex {
  display: flex;
  gap: 10px;
}

@media only screen and (min-width: 1024px) {
  .footer__box .footer__content {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 40px;
    height: 50px;
    padding: 30px 25px 15px;
  }
  .footer__box .footer__content .footer__list {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 10px;
  }
}/*# sourceMappingURL=menu.css.map */