// Section explore
.explore {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: $light-gray;
    padding: 50px 10px 40px;

    .explore__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;

        h2 {
            @include flex-center;
            color: $grey;
        }

        h3 {
            @include flex-center;
            font-weight: 300;
            color: $grey;
        }
    }

    .btn__box {
        @include flex-center;
    }

}