// Section explore
.explore {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: $light-gray;
    padding: 30px 10px 40px;

    .explore__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;

        h1 {
            width: 75%
        }

        h2 {
            width: 90%;
            color: $grey;
        }
    }

    .btn__box {
        @include flex-center;
    }

}

@media only screen and (min-width: 768px) {
    .explore {
		padding: 30px 0;
		.explore__box h1 {
			width: 100%;
			font-size: 30px;
		} 

		.explore__btn__box {
			.explore__btn {
				width: 25%;
			}
		}
	}

}

@media only screen and (min-width: 1024px) {

	.explore {
		padding: 30px 0;
		.explore__box h1 {
			width: 100%;
			font-size: 40px;
		} 

		.explore__btn__box {
			.explore__btn {
				width: 25%;
			}
		}
	}
}