// Section fonctionnement
.fonctionnement {
    padding: 50px 20px;
    background-color: $white;
    display: flex;
    flex-direction: column;
    gap: 25px;

    .fonc__card__box {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .fonc__card {
            width: 100%;
            display: flex;
            align-items: center;

            .fonc__round {
                position: relative;
                color: $white;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $color-Primary;
                width: 24px;
                min-width: 24px;
                height: 24px;
                min-height: 24px;
                border-radius: 50%;
                z-index: 1;
                font-size: 14px;
                font-weight: 500;
            }

            .fonc__card__clickable {
                left: -15px;
                display: flex;
                position: relative;
                gap: 25px;
                justify-content: flex-start;
                background-color: $light-gray;
                width: 100%;
                border-radius: 25px;
                z-index: 0;
                padding-left: 42px;
                box-shadow: 0px 4px 15px 0px #00000026;

                h3 {
                    display: flex;
                    align-items: center;
                    height: 70px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .fonctionnement {
        padding: 50px 180px;
        .fonc__card__box {
            width: 100%;
            display: flex;
            flex-direction: row;
        }
    }
}