.footer__box {
	color: white;
	width: 100%;
	height: auto;
	background-color: $grey;
	
	.footer__content {
		padding: 22px 25px;
		gap: 16px;
		display: flex;
		flex-direction: column;
		.footer__list {
			display: flex;
			flex-direction: column;
			gap: 8px;
			.footer__list__flex {
				display: flex;
				gap: 10px;

			}
			
		}
	}
}

@media only screen and (min-width: 768px) {
	.footer__box {
		.footer__content {
				max-width: 1440px;
				padding: 22px 180px;
				display: flex;
				flex-direction: row-reverse;
				align-items: flex-end;
				gap: 40px;
				height: 50px;
			.footer__list {
				display: flex;
					flex-direction: row;
					align-items: flex-end;
					justify-content: flex-start;
					gap: 10px;
			}
		}
	}
}