// Barre de nav
.navbar {
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 2px 4px 0px #00000026;


	.navbar__title {
		margin-left: auto;
		margin-right: auto;
		height: 44px;
	}

}

// Inclure _location ici ?