// Section location
.location {
    background: $grey-2;
    display: flex;
    align-items: center;
    justify-content: center;


    &__input__box {
        display: flex;
        align-items: center;
        height: 50px;


        .location__logo {
            width: 12px;
            margin-right: 10px;
        }

        .location__input {
            background-color: $grey-2;
            border: none;
            flex: 1;
            height: 100%;
            font-size: 16px;
            font-weight: 500;
            font-family: $font-primary;
            outline: none;
            color: red;
        }
    }
}