.menu__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .menu__title__desc {
        border-bottom: 3px solid rgba(153, 226, 208, 1);
        width: 50px;
        font-size: 16px;
        font-weight: 300;
    }

    .menu__card__food {
        position: relative;
        display: flex;
        padding: 12px;
        background-color: #FFFFFF;
        justify-content: space-between;
        align-items: flex-end;
        border-radius: 25px;
        box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px rgba(0, 0, 0, 0.1);

        :hover {
            .menuitem__done {
                display: flex;
            }
        }

        .desc__flex {
            display: flex;
            flex-direction: column;
        }

        .menu_infos {
            display: flex;
            gap: 15px;
            align-items: center;
        }

        .menuitem__done {
            display: none;
            width: 4rem;
            transition: .5s;
            background-color: $color-tertiary;
            padding: 12px;

        }
    }
}