.menu {
    opacity: 1;
    width: 100%;
    overflow: hidden;
    

    .img__restau {
        width: 100%;
        height: 275px;
        object-fit: cover;
    }

    .overlay {
        width: 100%;
        position: absolute;
        top: 300px;

        .menu__card {
            display: flex;
            flex-direction: column;
            gap: 40px;
            background-color: $light-gray;
            border-radius: 25px 25px 0 0;
            padding: 25px 15px 40px 15px;

            &__restau {
                width: 100%;
                gap: 30px;
                display: flex;
                align-items: center;
                justify-content: center;

                &-nom {
                    font-family: $font-secondary;
                    font-size: 28px;
                    font-weight: 400;
                }
            }

            
            .menu__content {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 12px;
            
                .menu__title__desc {
                    border-bottom: 3px solid rgba(153, 226, 208, 1);
                    width: 40px;
                    height: 27px;
                    font-size: 16px;
                    font-weight: 300;
                }
            
                
            }

            .btn__box {
                @include flex-center;
            }
        }

    }
}

@media only screen and (min-width: 768px) {
    .menu {

        .img__restau {
            height: 380px;
        }
        .overlay {
            display: flex;
            flex-direction: column;
            align-items: center;
            top: 410px;
        
            .menu__card {
                padding: 50px 30px; 
                width: 70%;
                flex-wrap: nowrap;
                align-items: center;

                &__restau {
                    justify-content: center;
                    gap: 30px;
                }
                &__content {
                    width: 70%;
                }
            }
        }

    }

}