.menu__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .menu__title__desc {
        border-bottom: 3px solid rgba(153, 226, 208, 1);
        width: 50px;
    }

    .menu__card__food {
        position: relative;
        display: flex;
        padding: 12px;
        background-color: #FFFFFF;
        justify-content: space-between;
        align-items: flex-end;
        border-radius: 25px;
        box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px rgba(0, 0, 0, 0.1);

        &:focus-within {
            .menuitem__done {
                display: flex;
            }
        }

        &:not(:active) {
            .menuitem__done {
                display: none;
            }
        }

        .desc__flex {
            display: flex;
            flex-direction: column;
        }

        .menuitem {
            display: flex;
            width: 100%;
            border-radius: 1rem;
            background-color: #FFF;
            overflow: hidden;
            margin-bottom: 1rem;
            box-shadow: $btn_shadow $shadow-color;

            animation: itemappear .8s;
            animation-delay: 2.5s;
            animation-fill-mode: both;
            max-width: 100%;

            &__done {
                display: none;
                width: 4rem;
                transition: .5s;
                background-color: $color-tertiary;
                padding: 12px;
            }

            &__wrap {
                @include flex-center;
                width: 1.5rem;
                height: 1.5rem;

                background-color: $white;
                border-radius: 5rem;

                transition-duration: 0.5s;
            }

            &__icon {
                color: $color-tertiary;
            }
        }
    }
}