// Section restau
.restaurants {
    gap: 28px;
    @include flex(column);
    padding: 30px 15px 80px 15px;
    background-color: $light-gray;

    .restaurant__flex {
        @include flex(column);
        gap: 18px;
        margin-top: 28px;
    }
}

@media only screen and (min-width: 1024px) {
    .restaurants {
        gap: 28px;
        align-items: center;

        .wrapper {
            @include wrapper;

            .restaurant__flex {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 50px;
                

                .restaurant__card {
                    position: relative;
                    width: 45%;
                    margin: 0;
                }
            }
        }
    }
}