.heart {
  position: relative;

  & i {
      font-size: 1.5rem;
  }

  & .fas {
      position: absolute;
      opacity: 0;
      @include gradient(180deg);
      cursor: pointer;
      background-clip: text;
      color: transparent;
  }

  & input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      height: 100%;
      width: 100%;
      cursor: pointer;
  }

  & label {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      cursor: pointer;
  }

  .fas,
  & input[type="checkbox"]:checked + label .fas {
      transition: opacity 0.5s linear;
      display: inline;
      opacity: 1;
  }

  input[type="checkbox"]:not(:checked) ~ .fas {
    opacity: 0;
    transition: visibility 0s 2s, opacity 0.5s linear;
}


}