.heart-animation{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    i {

    }

    .heart-full {
        opacity: 0;
        transition-property: all;
        transition-duration: 2s;
    }
    
    .heart-full:hover {
        opacity: 1;
        color: red;
    }
}





    