.btn__main {
    cursor: pointer;
    color: $white;
    @include flex-center;
    height: 50px;
    width: 70%;
    border: none;
    border-radius: 25px;
    @include btn-color;
    @include button-shadow;
    transition: all 400ms;

    :hover {
        @include btn-color-hover;
        @include button-shadow-hover;
        border-radius: 25px;
    }

    .btn__text {
        display: flex;
        width: 100%;
        font-size: 16px;
        font-weight: 500;
        font-family: $font-primary;
        height: 50px;
        justify-content: center;
        align-items: center;
        color: white;
    }
}