.explore__btn__box {
    @include flex-center;

    .explore__btn {
        color: $white;
        @include flex-center;
        height: 50px;
        width: 70%;
        border: none;
        border-radius: 25px;
        @include btn-color;
        @include button-shadow;

        .explore__btn__text {
            font-size: 16px;
            font-weight: 500;
            font-family: $font-primary;
        }
    }
}