.btn__main {
    cursor: pointer;
    @include flex-center;
    border: none;
    @include button-prop;
    // transition: background 2000ms;



    :hover {
        @include button-hover-prop;
        color: $white;
        // transition: background 2000ms;
        
        
    }

    .btn__text {
        @include flex-center;
        width: 100%;
        font-size: 16px;
        font-weight: 500;
        font-family: $font-primary;
        padding: 15px;
    }
}