.news__card {
    position: absolute;
    right: 27px;
    background-color: $color-tertiary;
    width: 80px;
    height: 30px;
    @include flex-center;
    border-radius: 2px;
    margin: 13px 0;

    span {
        font-size: 14px;
        font-weight: 500;
        color: $green;


    }
}