.news__card {
    display: flex;
    position: absolute;
    right: 30px;
    background-color: $color-tertiary;
    width: 80px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    margin: 13px 0;

    span {
        font-size: 14px;
        font-weight: 500;
        color: $green;


    }
}