.menu__card__food {
    overflow: hidden;
    position: relative;
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 15px;
    box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px rgba(0, 0, 0, 0.1);

    .flex__content {
        display: flex;
        padding: 0px 12px 14px;
        width: 90%;
        justify-content: space-between;
        align-items: flex-end;

        .menu__desc {
            display: flex;
            flex-direction: column;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            h3 {
                font-size: 18px;
                font-weight: 500;
            }
            h4 {
                font-size: 15px;
                font-weight: 300;
            }
        }

        .menu__prix {
            margin-left: auto;
            margin-top: 20px;

            h5 {
                font-size: 15px;
                font-weight: 700;
            }
        }
    }

    .menu__check {
        display: flex;
        justify-content: center;
        background-color: $color-tertiary;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        color: white;
        padding: 25px;
        margin-right: -8rem;
        width: 0.5rem;
        transition: margin-right 0.5s;

        @at-root .menu__card__food:hover .menu__check {
            margin-right: 0;
            height: 100%;
        }
    }

}