* {
    margin: 0;
    padding: 0;
}

.navbar {
    margin-top: 15px;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__logo {
    width: 260px;
}

.location__input {
    width: 100%;
    height: 50px;
    background: #EAEAEA;
    border-left: none;
    border-right: none;
    
}

/* Logo dans input */
.input-with-logo {
   padding-left: 30px;
   background-image: url(./images/Icon/Pin.png);
   background-size: 20px; 
   background-repeat: no-repeat;
   background-position: 5px center;
   border: 1px solid #ccc;
  }
/* Section "explorer nos resto" */
 .explore__box {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
 }
.explore h2 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 700;
  font-size: 24px;
}
.explore h3 {
  margin-top: 20px;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: 18px;
  color: #353535;
}
.explore__btn{
  margin-top: 20px;
  height: 50px;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px #00000040;
  font-size: 16px;
  color: white;
}
.explore__btn__box {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Section fonctionnement */
.fonctionnement {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.fonctionnement h2 {
  font-size: 24px;
  font-weight: 700;
}
.fonc__card {
   margin-top: 20px;
   background-color: #F6F6F6;
   width: 80%;
   height: 50px;
   display: flex;
   align-items: center;
}
.fonc__round {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9356DC;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 10px;
}
.fonc__container {
   background-color: red;
}
.fonc__card__clickable {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  background-color: red;
  width: 100%;
  border-radius: 25px;
}

.fonc__card h4 {
  display: flex;
  align-items: center;
  font-weight: 500;
  height: 50px;
}