$color-Primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-background: white;
$color-icon: #939393;
$color_text_noir: #101010;

$white: #FFF;
$grey : #353535;
$grey-2: #EAEAEA;
$dark-gray: #e5e5e5;
$light-gray: #f6f6f6;
$green: #008766;

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Shrikhand', sans-serif;

$shadow-color: #D5D5D5;
$button-gradient: $color-secondary, $color-Primary;

